name: PR Checks

on: [pull_request]

jobs:
  check_versions:
    name: Check Versions (Xcode ${{ matrix.xcode }})
    runs-on: macos-latest
    strategy:
      matrix:
        xcode:
          - "13.2.1"
    steps:
      - uses: actions/checkout@v2

      - name: Select Xcode ${{ matrix.xcode }}
        run: sudo xcode-select --switch /Applications/Xcode_${{ matrix.xcode }}.app

      - run: ./scripts/check_all_versions_match.swift

  swiftlint:
    name: SwiftLint (Xcode ${{ matrix.xcode }})
    runs-on: macos-latest
    strategy:
      matrix:
        xcode:
          - "13.2.1"
    steps:
      - uses: actions/checkout@v2

      - name: Select Xcode ${{ matrix.xcode }}
        run: sudo xcode-select --switch /Applications/Xcode_${{ matrix.xcode }}.app

      - name: Install Mint
        run: brew install mint

      - name: Cache Mint
        uses: actions/cache@v2
        with:
          path: ~/.mint
          key: ${{ runner.os }}-mint-xcode_${{ matrix.xcode }}-${{ hashFiles('**/Mintfile') }}
          restore-keys: |
            ${{ runner.os }}-mint-xcode_${{ matrix.xcode }}

      - name: Run SwiftLint
        run: mint run swiftlint

  pod_lib_lint:
    name: pod lib lint
    runs-on: macos-latest
    strategy:
      matrix:
        xcode:
          - "13.2.1"
    steps:
      - uses: actions/checkout@v2

      - name: Select Xcode ${{ matrix.xcode }}
        run: sudo xcode-select --switch /Applications/Xcode_${{ matrix.xcode }}.app

      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: pod lib lint
        run: bundle exec pod lib lint

  checks_pass:
    name: Checks pass
    runs-on: ubuntu-latest
    needs: [check_versions, swiftlint, pod_lib_lint]
    steps:
      - run: echo "Checks have passed"

  upload_docs:
    name: Upload Documentation
    runs-on: ubuntu-latest
    container:
      image: swiftlang/swift:nightly-5.6-xenial
    steps:
      - uses: actions/checkout@v2

      - name: Generate Documentation
        run: ./scripts/generate-documentation.sh ./docs Partial

      - name: Upload Documentation
        uses: actions/upload-artifact@v2
        with:
          name: docs
          path: ./docs/
